.idea/
.env

.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.pem

/web-asociacion-comunal/node_modules/
/web-asociacion-comunal/.pnp
/web-asociacion-comunal/.pnp.*
/web-asociacion-comunal/.yarn/*
/web-asociacion-comunal/coverage/
/web-asociacion-comunal/.next/
/web-asociacion-comunal/out/
/web-asociacion-comunal/build/
/web-asociacion-comunal/npm-debug.log*
/web-asociacion-comunal/yarn-debug.log*
/web-asociacion-comunal/yarn-error.log*
/web-asociacion-comunal/pnpm-debug.log*
/web-asociacion-comunal/.env*
/web-asociacion-comunal/*.tsbuildinfo
/web-asociacion-comunal/next-env.d.ts

/backend-asociaon-comunal/HELP.md
/backend-asociaon-comunal/.gradle/
/backend-asociaon-comunal/build/
/backend-asociaon-comunal/target/
/backend-asociaon-comunal/bin/
/backend-asociaon-comunal/.apt_generated
/backend-asociaon-comunal/.classpath
/backend-asociaon-comunal/.factorypath
/backend-asociaon-comunal/.project
/backend-asociaon-comunal/.settings
/backend-asociaon-comunal/.springBeans
/backend-asociaon-comunal/.sts4-cache
/backend-asociaon-comunal/nbproject/private/
/backend-asociaon-comunal/nbbuild/
/backend-asociaon-comunal/dist/
/backend-asociaon-comunal/nbdist/
/backend-asociaon-comunal/.nb-gradle/